/*
!/.gitignore

!/bin/
/bin/*
!/bin/plugins/
/bin/plugins/*
!/bin/plugins/Ryutp/
/bin/plugins/Ryutp/*
!/bin/plugins/Ryutp/EnhancedInput/

!/include/
/include/*
!/include/plugins/
/include/plugins/*
!/include/plugins/Ryutp/
/include/plugins/Ryutp/*
!/include/plugins/Ryutp/EnhancedInput/

!/source/
/source/*
!/source/plugins/
/source/plugins/*
!/source/plugins/Ryutp/
/source/plugins/Ryutp/*
!/source/plugins/Ryutp/EnhancedInput/

!build.sh
!build.ps1